name: 'build'

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '0 3 * * *'

concurrency: nope
permissions:
  contents: write

jobs:
  build-installer:
    runs-on: windows-${{ matrix.image }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - msystem: UCRT64
            arch_name: x86_64
            image: 2022
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: setup-msys2
        uses: msys2/setup-msys2@v2
        with:
          msystem: ${{ matrix.msystem }}
          update: true

      - name: Switch to the main mirror
        shell: msys2 {0}
        run: |
          echo 'Server = https://repo.msys2.org/mingw/$repo/' > /etc/pacman.d/mirrorlist.mingw
          echo 'Server = https://repo.msys2.org/msys/$arch/' > /etc/pacman.d/mirrorlist.msys
          pacman-conf.exe

      - name: Update using the main mirror & Check install
        run: |
          msys2 -c 'pacman --noconfirm -Suuy'
          msys2 -c 'pacman --noconfirm -Suu'
          msys2 -c 'pacman -Qkq'

      - name: Build Installer
        shell: msys2 {0}
        run: |
          bash make-msys2-installer

      - name: Create 'latest' Variants and Checksums
        run: |
          mv msys2-base-${{ matrix.arch_name }}-[0-9]*.sfx.exe Philia-latest.sfx.exe
          mv msys2-*.tar.zst Philia-latest.tar.zst
          sha256sum.exe Philia-* > checksums.txt
          cat checksums.txt
          mv checksums.txt Philia-checksums.txt

      - name: Upload Results
        uses: actions/upload-artifact@v6
        with:
          name: installer-${{ matrix.arch_name }}
          path: Philia-*

      - name: Upload Nightly
        if: github.ref == 'refs/heads/main'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release upload nightly Philia-* --clobber -R ${{ github.repository }}
